	<div class="container">
		<div class="row">
			<div class="span12">
				<p class="lead">     </p> 
			</div>
		</div>
      <div class="row">
        <div class="span8">
          <div class="well">
			<p class="lead">method agileFoo (build, measure, learn ... Share)</p> <br />
      <p class="text-info">agilefoo-test is the Exploratory Testing component for <a href="http://agilefoo.herokuapp.com/">agileFoo</a>.<br /><br />Agile, an umbrella term for a collection of software methodologies with the pattern: iterative development and incremental delivery with customer involvement.<br /><br />Foo (pronounced "foo"), a universal term often used by programmers as a substitute for something real when discussing ideas or presenting examples. <br /><br />agileFoo, a site to save and share links, much like bit.ly (bitmarks) or reddit, but agile related. And here you can discuss the 'values', 'principles' and 'practices' of agile software development.</p>			
          </div>
        </div>
       <div class="span4">

        </div>
      </div>


      