	<div class="container">
		<div class="row">
			<div class="span12">
				<p class="lead">     </p> 
			</div>
		</div>
      <div class="row">
        <div class="span8">
          <div class="well">
			<p class="lead">method foo (build, measure, learn ... Share)</p> <br />
      <p class="text-info">Agile, an umbrella term for a collection of software methodologies with the pattern: iterative development and incremental delivery with customer involvement.<br /><br />Programmers often use the term "foo" (pronounced FOO) as a universal substitute for something real when discussing ideas or presenting examples. <br /><br />AgileFoo, a site to save and share links, much like bit.ly (bitmarks) or reddit, but agile related. <br /><br />And here you can discuss the 'values', 'principles' and 'practices' of agile software development.</p>			
          </div>
        </div>
       <div class="span4">

        </div>
      </div>