
    <div class="container">
      <% title "About" %>
      <p class="text-info">agileFoo has several goals: It is a place to save and share links, much like bit.ly (bitmarks) or reddit, but agile related. And it is a place to discuss and learn the 'values', 'principles' and 'practices' of agile software development.</p>
      <p class="text-info">agileFoo is an open source RoR project and is available to anyone, whether your need is a simple 'link saver' or discussion forum.  <br><br>Perhaps your goal is to explore and learn agile development and agile testing. If so, then download the code. Explore, Learn and share. There are numerous opportunities to enhance this project with new features. So, write some user stories, write some tests and then write some code. And ideally use the discussion board to share your progress and discoveries.<br><br>
      </p>
      
      <div class="row">
        <div class="span4">
          <div class="well">
            <h4>Saving links</h4>
            <p>To add a post, go to the 'Links' page and enter appropriate information.</p>
          </div>
          <div class="well">
            <h4>Discussing agile practices</h4>
            <p>Go to 'How Do I ...' and open a discussion on a problem that you are experiencing or to share information on a recent success.
            	Others can join the discussion and provide feedback.</p>
         </div>
        </div>
        <div class="span4">
          <div class="well">
            <h4>Sharing links</h4>
            <p>Just click the "Share this link"
              button on the 'Links/Comments' page.</p>
          </div>
          <div class="well">
            <h4>Learn TDD, BDD, ATDD and Exploratory Testing</h4>
            <p>This is a lab to explore and learn testing, from TDD to ET. The exploration and learning will center upon tests written in Rspec, Cucumber and Capybara.</p>
          </div>
        </div>
        <div class="span4">

          <div class="well">
          <h4>Project source freely available:</h4> 
          <!-- http://creativecommons.org/choose/ -->
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/us/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/us/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">agileFoo</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://agilefoo.herokuapp.com/contact" property="cc:attributionName" rel="cc:attributionURL">Bill Allen</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/us/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 United States License</a>.<p />Source: <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/Bill-A/agilefoo" rel="dct:source">https://github.com/Bill-A/agilefoo</a>.<br /><br /><br /><br /><br /><br /><br />
          </div>
        </div>
      </div>
  
     
    </div>
