	<div class="container">
		<% title "Contact Info" %>
		<div class="row">
			<div class="span12">
			</div>
		</div>
      <div class="row">
        <div class="span4">
          <div class="well">
			<h4>Email:</h4> 
			<p><strong>Bill Allen</strong></p>
			<p class="address">	agile Coach <br>
									agile Instructor<br>
									Software Developer
			</p>
			<div class="comment_share">
				<i class="icon-share icon-black"></i>
				<%= mail_to "BillAllenEmail@gmail.com", "Contact me", :style => 'font-weight: regular', :subject => "A message from a fan of agileFoo" %>
			</div> 
          </div>
        </div>
        <div class="span4">
          <div class="well">
			<h4>Agile User Group:</h4> 
			<p><strong>Learn agile in an open space</strong></p>
			<p><%= link_to "'Chicago Agile Open Space' user group", "http://meetup.com/Chicago-Agile-Open-Space" %></p>
			<br><br><br>
          </div>
        </div>
        <div class="span4">
        </div>
      </div>
	</div>